@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --bg-primary: #0b003d;
  --bg-secondary: #100635;
  --bg-tertiary: #090133;
  --btn-primary: #8f43ee;
  --btn-secondary: #00235b;
  --btn-tertiary: #27e1c1;

  --black: #050505;
  --text-primary: #ffffff;
  --text-secondary: #bababa;
  /* --card-bg-primary: #66347F;
  --card-bg-secondary: #37306B; */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: var(--black);
  background: linear-gradient(
    114deg,
    var(--bg-primary) 10%,
    var(--bg-secondary) 100%
  );
  font-family: "Oxanium", cursive;
  color: var(--text-primary) !important;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
}

h1 {
  font-size: 3.4rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.8rem;
}

h5,
h6 {
  font-size: 1.4rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 45rem) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  h5,
  h6 {
    font-size: 1.3rem;
  }
}

.isActive {
  transform: translateY(0) !important;
}

.mui--icons {
  fill: var(--text-primary) !important;
}

.animation {
  transform: rotateY(180deg);
  cursor: url();
}

.indicator {
  width: 5rem;
  height: 1.5rem;
  background: #ffdab8;
  border-radius: 0.8rem;
  position: relative;
  box-shadow: rgba(0, 255, 64, 0.4) 0px 30px 90px;
}

.indicator::after {
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  background: var(--btn-secondary);
  border-radius: 50%;
  position: absolute;
  top: -0.5rem;
  left: -1px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.active-indicator {
  width: 5rem;
  height: 1.5rem;
  background: #ffdab8;
  border-radius: 0.8rem;
  position: relative;
}

.active-indicator::after {
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  background: var(--btn-primary);
  border-radius: 50%;
  position: absolute;
  top: -0.5rem;
  right: -1px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.highligh--title {
  transition: all 0.3s ease-in;
  text-shadow: 4px 4px 14px rgba(0, 162, 255, 0.78);
}


.loading-spinner {
  border: 4px solid #ce42ff; /* Light grey */
  border-top: 4px solid #69F1E4; /* Blue */
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  animation: spin 2s linear infinite;
  display: block;
  box-shadow: rgba(0, 223, 252, 0.4) 0px 10px 50px;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}